@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Mahesh Chopade is the professionally .NET developer. He have 2 years of experience in website development.
    <br>
    He Have developed a various websites using the ASP.NET technology. He have brod experince in website developement.
    <br>
</p>
