@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hinjewadi<br />
    Pune, MH 411 013<br />
    <abbr title="Phone">P:</abbr>
    <i class="fa fa-phone"></i>7758812333
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@maheshchopade.com">suppoert@maheshchopade.com</a><br />
    <strong>Information:</strong> <a href="mailto:info@maheshchopade.com">info@maheshchopade.com</a>
</address>
